.wrapper {
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  height: 880px;
}
.wrapper div {
  /*border: 1px solid lightgrey;*/
}
.col-left {
  width: 280px;
  float: left;
  height: 100%;
  background: palevioletred;
}
.col-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  float: right;
  padding-left: 10px;

}
.right-center {
  display: flex;
  flex: 1;
}

.center {
  flex: 1;
  background: cornflowerblue;
}
.right {
  width: 300px;
  background: palegreen;
}
.bottom {
  height: 195px;
  background: lightyellow;
}
