.wrapper {
  margin: 0 auto;
  max-width: 1560px;
  height: 880px;
}

.demo-sidenav-container {
  height: 880px;
}
.mat-sidenav-focus-trap > .cdk-focus-trap-content {
  width: 295px;
  border: 1px solid gray;
}

.wrapp-content{
  height: 848px;
  padding: 15px;
  border: 1px solid gray;
}

.demo-sidenav-content {
  margin: 0 15px;
}
